@font-face {
    font-family: slimFont;
    src: url("../Fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: lessslimFont;
    src: url("../Fonts/Montserrat-Medium.ttf");
}

#cp {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 210%;
    font-family: lessslimFont;
    background-color: rgb(0, 13, 37);
}

#cpheader {
    padding: 30px;
    color: white
}